form{
  background: #fafafa;
  display: flex;
  flex-direction: column;
  padding: 5vw;
}

.containerForm{
  display: flex;
  gap: 7vw;
  flex-direction: row;
  justify-content: space-around;
}


button{
  margin-bottom: 15px;
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
  font-weight: lighter;
  margin-right: 10px;
}
.btn.btn-close{
  background-color: lightgrey;
}

input.ng-invalid.ng-touched{
  border: 1px solid red;
}select.ng-invalid.ng-touched{
   border: 1px solid red;
 }
span{
  font-weight: bold;
}

select{
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

}
