
/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 4px  #ccc ridge;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  border: #979797 ridge 4px;
  padding: 14px 20px;
  //margin-top: 8px;
  cursor: pointer;
  width: 100%;
}
.login-button{
  background-color: green;
  color: black;

}
.register-button{
  background-color: skyblue;
  color: #fafafa;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}



.imgContainer {
  //background-image: url("../../../assets/coverImage.png");
  //background-size: contain;
  //background-repeat: no-repeat;
  text-align: center;
  //margin: 24px 0 12px 0;
  width: 100vw;
  height: 20vw;
  object-fit: cover;
  display: flex;
  justify-content: space-around;

}

/* Center the avatar image inside this container */
//.imgContainer {
//  text-align: center;
//  margin: 24px 0 12px 0;
//}

/* Avatar image */
img.avatar {
  width: 100%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
#containerForm{
  background-size:100%;
  height: 900px;
background-color: #fafafa;
}

.gray_box {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 54vw;
  height: 15vw;
  background-color: rgba(255, 255, 255, 0.88);
}
.title-text{
  font-family: HelveticaNeue;
  opacity: 0.65;
  font-size: 5vw;
  font-weight: 100;
  line-height: 1;
  letter-spacing: 1.97px;
  text-align: center;
}
