

<table *ngIf="objectType==='Restaurant'">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Chef</th>
        <th scope="col">Signature Dish</th>
        <th scope="col">Is Popular</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ deletedRestaurantId.name }}</td>
        <td><img *ngIf="deletedRestaurantId.image!=='no'" src='{{deletedRestaurantId.image}}' class="imageStyle">
            <img *ngIf="deletedRestaurantId.image==='no'" src='{{assetsPathDeleteImage}}/restaurant_images/claro_img.png' class="imageStyle"></td>
        <td>{{ deletedRestaurantId['Chef'].name }}</td>
        <td>{{ deletedRestaurantId['signature_dish'] ? deletedRestaurantId['signature_dish'].name : 'no' }}</td>
        <td>{{ deletedRestaurantId['isPopular'] ? "Yes" : "No" }}</td>
    </tr>
    </tbody>
</table>

<table *ngIf="objectType==='Chef'">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{deletedChefId.name}}</td>
        <td><img *ngIf="deletedChefId.image!=='no'" src='{{deletedChefId.image}}' class="imageStyle">
            <img *ngIf="deletedChefId.image==='no'" src='{{assetsPathDeleteImage}}/chef_images/defaultUserIcon.png' class="imageStyle"></td>
        <td>{{deletedChefId.description}}</td>
    </tr>
    </tbody>
</table>

<table *ngIf="objectType==='Dish'">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Tags</th>
        <th scope="col">Restaurant</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{ deletedDishId.name }}</td>
        <td><img *ngIf="deletedDishId.image!=='no'" src='{{deletedDishId.image}}'
                 class="imageStyle">
            <img *ngIf="deletedDishId.image==='no'" src='{{assetsPathDeleteImage}}/restaurant_images/claro_img.png' class="imageStyle">
        </td>
        <td>{{ deletedDishId['description']}}</td>
        <td>{{deletedDishId['price']}}</td>
        <td><h6 *ngFor="let tag of deletedDishId['tags']">{{tag+' '}}</h6></td>
        <td>{{deletedDishId['restaurant_id']['name']}}</td>
    </tr>
    </tbody>
</table>
