.navbar.navbar-default{
    padding: 12px;
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.logoStyle{
    border-radius: 50%;
    height: 40px;
}
.navbar-brand {
    font-size: 20px;
}
.logOutStyle{
}
.navContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
